<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="/css/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="/css/themes/Pi2O.css" />
  	<link rel="stylesheet" href="/css/themes/jquery.mobile.icons.min.css" />
	<link href="/css/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/jquery.mobile-1.4.5.min.js"></script>
	<style>
	.ui-hide-label.ui-br, .no-field-separator {
		border-bottom-width: 0;
	}
	.ui-field-contain.ui-hide-label, .no-field-separator {
		margin: 1em 0;
		padding: 0;
	}
	.sixcol {
		/* Based on https://stackoverflow.com/questions/6161377/more-than-5-items-per-line-in-jquery-mobile-navbar */
		width: 16.66% !important;  /* 16.66% for 6 tabs wide */
		clear: none !important;  /* Prevent line break caused by ui-block-a */
	}
	</style>
</head>
<body>
	<div id="index" data-role="page">
	<script type="text/javascript">
		function updateClock() { 
			// get local time
			var date = new Date();
			var lt = new Date( date.getTime() + {{ kwds.get('tzOffset') }}*1000 );
			var year = lt.getUTCFullYear();
			var month = lt.getUTCMonth() + 1;
			var day = lt.getUTCDate();
			var hours = lt.getUTCHours();
			var minutes = lt.getUTCMinutes();
			var seconds = lt.getUTCSeconds();
			if (day < 10) {
				day = "0" + day;
			}
			if (month < 10) {
				month = "0" + month;
			}
			if (hours < 10) {
				hours = "0" + hours;
			}
			if (hours > 12) {
				hours = hours - 12;
				ampm = "PM";
			} else {
				ampm = "AM";
			}
			if (minutes < 10) {
				minutes = "0" + minutes;
			}
			if (seconds < 10) {
				seconds = "0" + seconds;
			}
			var lts = year + "/" + month + "/" + day;
			lts = lts + " " + hours + ":" + minutes + ":" + seconds + " " + ampm;

			// update text fields
			var span = document.getElementById('ltClock');
			span.innerHTML = lts;
			
			setTimeout("updateClock()", 1000); 
		}
		
		function setSummary(data) {
			for( var zone in data['zones']) {
				var name = data['name'+zone];
				var stat = data['status'+zone];
				var start = new Date(data['start'+zone]);
				var run = data['run'+zone] / 1000.0;
				var adjust = data['adjust'+zone];
				var etv = data['etv'+zone] / 1.0;
				
				var startStr = (start.getMonth()+1)+"/"+start.getDate()+"/"+start.getFullYear();
				
				var runH = (run / 3600) | 0;
				var runM = (run % 3600 / 60) | 0;
				if( runM < 10 ) {
					runM = "0"+runM;
				}
				var runS = (run % 60) | 0;
				if( runS < 10 ) {
					runS = "0"+runS;
				}
				var runStr = runH+":"+runM+":"+runS;
				
				if( stat == 'on' ) {
					$('#zone'+zone+'Info').html("<q>"+name+"</q> is on");
				} else {
					if( adjust >= 0 ) {
						$('#zone'+zone+'Info').html("<q>"+name+"</q> last ran on "+startStr+" for "+runStr+" <i>(weather adjustment "+(adjust*100).toFixed()+"%)</i><br />Current accumulated ET losses: "+etv.toFixed(2)+" inches");
					} else if( adjust == -1 ) {
						$('#zone'+zone+'Info').html("<q>"+name+"</q> last ran on "+startStr+" for "+runStr+" <i>(manual)</i><br />Current accumulated ET losses: "+etv.toFixed(2)+" inches");
					} else {
						$('#zone'+zone+'Info').html("<q>"+name+"</q> last ran on "+startStr+" for "+runStr+"</i><br />Current accumulated ET losses: "+etv.toFixed(2)+" inches");
					}
				}
			}
		}
		
		function pollSummary() {
			$.ajax({url: "/query/summary",
				    type: "GET",
					success: setSummary,
					dataType: "json",
					complete: setTimeout(function() {
										if( document.getElementById('indexPage') != null ) {
											pollSummary();
										}
									}, 10000),
					timeout: 2000
			});
		}
		
		function onload() {
			updateClock();
			pollSummary();
		}
		
		$(document).on("pageshow", "#index", onload);
	</script>
	
	<div id="indexPage"></div>
	
	<div data-role="header" role="banner" class="ui-header ui-bar-inherit">
		<h1 class="ui-title" role="heading" aira-level="1">Pi<sub>2</sub>O</h1>
	</div>
	<div data-role="main" class="ui-content">
		<div class="ui-field-contain">
			<h3 class="ui-title" role="heading" aira-level="1">Local Time</h3>
			<span id="ltClock" class="clock"></span><br />
		</div>
		{% for zone in range(1, 33) %}
		{% if not kwds.get("zone%i-enabled"|format(zone)) %}
		{% break %}
		{% endif %}
		{% if kwds.get("zone%i-enabled"|format(zone)) == 'on' %}
		<div class="ui-field-contain">
			<h3 class="ui-title" role="heading" aira-level="1">Zone {{ zone }}</h3>
			<span id="zone{{zone}}Info"></span>
			<!--
			{% if kwds.get("zone%i-status"|format(zone)) == 'on' %}
			{{ kwds.get("zone%i-name"|format(zone)) }} is on
			{% else %}
			{% set rtime = kwds.get("zone%i-lastStop"|format(zone)) - kwds.get("zone%i-lastStart"|format(zone)) %}
			{% set stime = rtime.days*86400 + rtime.seconds %}
			{{ kwds.get("zone%i-name"|format(zone)) }} last ran on {{ kwds.get("zone%i-lastStart"|format(zone)).strftime("%m/%d/%Y") }} for {{ "%i:%02i:%02i"|format(stime/3600, stime%3600/60, stime%60) }} <i>({{ 'manual' if kwds.get("zone%i-adjust"|format(zone)) < 0 else "weather adjustment %i%%"|format(100.0*kwds.get("zone%i-adjust"|format(zone))) }})</i>
			{% endif %}
			-->
		</div>
		{% endif %}
		{% endfor %}
	</div>
	<br />
	<div data-role="footer" role="banner" class="ui-header ui-bar-inherit">
		<div data-role="navbar">
			<ul>
				<li class="sixcol"><a class="ui-btn-active" href="/">Home</a></li>
				<li class="sixcol"><a href="/zones">Zones</a></li>
				<li class="sixcol"><a href="/schedules">Schedules</a></li>
				<li class="sixcol"><a href="/weather">Weather</a></li>
				<li class="sixcol"><a href="/manual">Manual Control</a></li>
				<li class="sixcol"><a href="/logs">Logs</a></li>
			</ul>
		</div>
	</div>
	</div>
</body>
</html>
