<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/jquery.mobile-1.4.3.min.css">
	<link rel="stylesheet" href="/css/themes/Pi2O.css" />
	<link rel="stylesheet" href="/css/themes/jquery.mobile.icons.min.css" />
	<link href="/css/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/jquery.mobile-1.4.3.min.js"></script>
</head>
<body>
	<div id="log" data-role="page">
	<script type="text/javascript">
		function setLog(data) {
			var lt = new Date(data['tNow']);
			var year = lt.getUTCFullYear();
			var month = lt.getUTCMonth() + 1;
			var day = lt.getUTCDate();
			var hours = lt.getUTCHours();
			var minutes = lt.getUTCMinutes();
			var seconds = lt.getUTCSeconds();
			if (day < 10) {
				day = "0" + day;
			}
			if (month < 10) {
				month = "0" + month;
			}
			if (hours < 10) {
				hours = "0" + hours;
			}
			if (hours > 12) {
				hours = hours - 12;
				ampm = "PM";
			} else {
				ampm = "AM";
			}
			if (minutes < 10) {
				minutes = "0" + minutes;
			}
			if (seconds < 10) {
				seconds = "0" + seconds;
			}
			var lts = year + "/" + month + "/" + day;
			lts = lts + " " + hours + ":" + minutes + ":" + seconds + " " + ampm;

			// update text fields
			var query = document.getElementById('queryTime');
			query.innerHTML = lts;
			
			for( var entry in data['entries']) {
				entry = parseInt(entry) + 1;
				var zone = data['entry'+entry+'Zone'];
				var start = data['entry'+entry+'Start'];
				var runt = data['entry'+entry+'Run'];
				var adjust = data['entry'+entry+'Adjust'];
				
				var row = document.getElementById('logTable').rows[entry];
				if( row != null ) {
					row.innerHTML = "<th>"+zone+"</th><td>"+start+"</td><td>"+runt+"</td><td>"+adjust+"</td>";
				} else {
					$('#logTable > tbody:last').append("<tr><th>"+zone+"</th><td>"+start+"</td><td>"+runt+"</td><td>"+adjust+"</td></tr>");
				}
			}
		}
		
		function pollLog() {
			$.ajax({url: "/query/log",
				    type: "GET",
					success: setLog,
					dataType: "json",
					complete: setTimeout(function() {
										if( document.getElementById('logPage') != null ) {
											pollLog();
										}
									}, 10000),
					timeout: 2000
			});
		}
		
		function onload() {
			pollLog();
		}
		
		$(document).on("pagecreate", "#log", onload);
	</script>
	
	<div id="logPage"></div>
	
	<div data-role="header" role="banner" class="ui-header ui-bar-inherit">
		<h1 class="ui-title" role="heading" aira-level="1">Logs</h1>
	</div>
	
	<div data-role="main" class="ui-content">
		<div class="ui-field-contain">
			<h3 class="ui-title" role="heading" aira-level="1">Local Query Time</h3>
			<span id="queryTime">{{ kwds.get("tNow").strftime("%Y/%m/%d %I:%M %p") }}</span><br />
		</div>
		
		<div class="ui-field-contain">
		<table id="logTable" data-role="table" id="history-table" data-mode="reflow" class="ui-responsive table-stroke">
			<thead>
			<tr>
				<th>Zone</th>
				<th>Start</th>
				<th>Run time</th>
				<th>Adjustment</th>
			</tr>
			</thead>
			<tbody>
			{% for row in kwds.get("history") %}
			<tr>
				<th>{{ row.get("zone") }}</th>
				<td>{{ row.get("dateTimeStart") }}</td>
				{% if row.get("dateTimeStop") >= row.get("dateTimeStart") %}
				{% set rtime = row.get("dateTimeStop") - row.get("dateTimeStart") %}
				{% set stime = rtime.days*86400 + rtime.seconds %}
				<td>{{ "%i:%02i:%02i"|format(stime/3600, stime%3600/60, stime%60) }}</td>
				{% else %}
				{% set rtime = kwds.get("tNow") - row.get("dateTimeStart") %}
				{% set stime = rtime.days*86400 + rtime.seconds %}
				<td>{{ "%i:%02i:%02i"|format(stime/3600, stime%3600/60, stime%60) }} <i>(running)</i></td>
				{% endif %}
				{% set stime = rtime.days*86400 + rtime.seconds %}
				<td>{{ "%i%%"|format(100.0*row.get("wxAdjust")) if row.get("wxAdjust") >=0 else 'Manual' }}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		</div>
	</div>
	
	<br />
	<div data-role="footer" role="banner" class="ui-header ui-bar-inherit">
		<div data-role="navbar">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/zones">Zones</a></li>
				<li><a href="/schedules">Schedules</a></li>
				<li><a href="/weather">Weather</a></li>
				<li><a href="/manual">Manual Control</a></li>
				<!--<li><a href="/logs">Logs</a></li>-->
			</ul>
		</div>
	</div>
	</div>
</body>
</html>
