<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="/css/themes/Pi2O.css" />
	<link rel="stylesheet" href="/css/themes/jquery.mobile.icons.min.css" />
	<link href="/css/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<script src="/js/jquery-3.6.4.min.js"></script>
	<script src="/js/jquery.mobile-1.4.5.min.js"></script>
	<style>
	.ui-hide-label.ui-br, .no-field-separator {
		border-bottom-width: 0;
	}
	.ui-field-contain.ui-hide-label, .no-field-separator {
		margin: 1em 0;
		padding: 0;
	}
	.sixcol {
		/* Based on https://stackoverflow.com/questions/6161377/more-than-5-items-per-line-in-jquery-mobile-navbar */
		width: 16.66% !important;  /* 16.66% for 6 tabs wide */
		clear: none !important;  /* Prevent line break caused by ui-block-a */
	}
	</style>
</head>
<body>
	<div id="manual" data-role="page">
	<script type="text/javascript">
		var request = null;
		
		function setControl(data) {
			for( var zone in data['zones']) {
				var name = data['name'+zone];
				var stat = data['status'+zone];
				
				if( status == 'on' ) {
					$('.zone'+zone).val('on');
					$('#zone'+zone+'State').html("Zone "+zone+" is on<br />");
				} else {
					$('.zone'+zone).val('off');
					$('#zone'+zone+'State').html("Zone "+zone+" is off<br />");
				}
			}
			$('.zones').slider('refresh');
		}
		
		function pollControl() {
			$.ajax({url: "/query/control",
				    type: "GET",
					success: setControl,
					dataType: "json",
					complete: setTimeout(function() {
										if( document.getElementById('manualPage') != null ) {
											pollControl();
										}
									}, 1000),
					timeout: 2000
			});
		}
		
		function onload() {
			pollControl();
		}
		
		$(document).on("pageshow", "#manual", onload);
	</script>
	
	<div id="manualPage"></div>
	
	<div data-role="header" role="banner" class="ui-header ui-bar-inherit">
		<h1 class="ui-title" role="heading" aira-level="1">Manual Control</h1>
	</div>
	<form id="theform" method="post" action="manual">
		<div data-role="main" class="ui-content">
			{% for zone in range(1, 33) %}
			{% if not kwds.get("zone%i-enabled"|format(zone)) %}
			{% break %}
			{% endif %}
			{% if kwds.get("zone%i-enabled"|format(zone)) == 'on' %}
			<h3 class="ui-title" role="heading" aira-level="1">Zone {{ zone }}</h3>
			<div class="ui-field-contain">
				<label for="zone{{ zone }}">{{ kwds.get("zone%i-name"|format(zone)) }}:</label>
				<select class="zones" id="zone{{ zone }}" name="zone{{ zone }}" data-role="slider">
					<option value="off">Off</option>
					<option value="on" {{ kwds.get("zone%i"|format(zone)) }}>On</option>
				</select> 
			</div>
			{% endif %}
			{% endfor %}
			<script type="text/javascript">
				$('#zones').empty();
				$('#zones').appendTo($('.zones'));
		
				$('#zones').trigger('create');
				$('.zones').bind('slidestop', function (e) {
					if (this.value == 'on') {
						$('.zones').val('off');
						$('.zones').slider('refresh');
						$(this).val('on');
						$(this).slider('refresh');
					}
					$.post('/query/control', $('#theform').serialize());
					$.ajax({url: "/query/control",
				    		type: "GET",
							success: setControl,
							dataType: "json",
							timeout: 2000
					});
				});
			</script>
		</div>
	</form>
	<br />
	<!--
	<div class="ui-field-contain">
	{% for zone in range(1, 33) %}
			{% if not kwds.get("zone%i-enabled"|format(zone)) %}
			{% break %}
			{% endif %}
			{% if kwds.get("zone%i-enabled"|format(zone)) == 'on' %}
			<span id="zone{{zone}}State"></span>
			{% endif %}
	{% endfor %}
	</div>
	<br />
	-->
	<div data-role="footer" role="banner" class="ui-header ui-bar-inherit">
		<div data-role="navbar">
			<ul>
				<li class="sixcol"><a href="/">Home</a></li>
				<li class="sixcol"><a href="/zones">Zones</a></li>
				<li class="sixcol"><a href="/schedules">Schedules</a></li>
				<li class="sixcol"><a href="/weather">Weather</a></li>
				<li class="sixcol"><a class="ui-btn-active" href="/manual">Manual Control</a></li>
				<li class="sixcol"><a href="/logs">Logs</a></li>
			</ul>
		</div>
	</div>
	</div>
</body>
</html>
