<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="/css/themes/Pi2O.css" />
	<link rel="stylesheet" href="/css/themes/jquery.mobile.icons.min.css" />
	<link href="/css/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/jquery.mobile-1.4.5.min.js"></script>
	<style>
	.ui-hide-label.ui-br, .no-field-separator {
		border-bottom-width: 0;
	}
	.ui-field-contain.ui-hide-label, .no-field-separator {
		margin: 1em 0;
		padding: 0;
	}
	.sixcol {
		/* Based on https://stackoverflow.com/questions/6161377/more-than-5-items-per-line-in-jquery-mobile-navbar */
		width: 16.66% !important;  /* 16.66% for 6 tabs wide */
		clear: none !important;  /* Prevent line break caused by ui-block-a */
	}
	</style>
</head>
<body>
	<div id="schedules" data-role="page">
	<script type="text/javascript">
		function onload() {
			// Nothing yet
		}
		
		$(document).on("pagecreate", "#schedules", onload);
	</script>
	
	<div data-role="header" role="banner" class="ui-header ui-bar-inherit">
		<h1 class="ui-title" role="heading" aira-level="1">Schedules</h1>
	</div>
	<form method="post" action="schedules">
		{% for zone in range(1, 33) %}
		{% if not kwds.get("zone%i-enabled"|format(zone)) %}
		{% break %}
		{% endif %}
		<input type="hidden" name="zone{{ zone }}-name" value="{{ kwds.get("zone%i-name"|format(zone)) }}">
		<input type="hidden" name="zone{{ zone }}-enabled" value="{{ kwds.get("zone%i-enabled"|format(zone)) }}">
		{% endfor %}
		<div data-role="main" class="ui-content">
			{% for month in range(1, 13) %}
			<div data-role="collapsible" {{ 'data-collapsed="false"' if month == kwds.get("tNow").month }}>
				<h3 class="ui-title" role="heading" aira-level="1">{{ mname.get(month) }}</h3>
				
				<div class="ui-field-contain no-field-separator">
					<label for="schedule{{ month }}-enabled">Schedule Enabled:</label>
					<select class="enabled{{ month }}" id="schedule{{ month }}-enabled" name="schedule{{ month }}-enabled" data-role="flipswitch">
						<option value="off">Off</option>
						<option value="on" {{ 'selected' if kwds.get("schedule%i-enabled"|format(month)) == 'on' else '' }}>On</option>
					</select>
				</div>
				
				<div class="ui-field-contain no-field-separator">
					<label for="schedule{{ month }}-threshold">ET Threshold (inches):</label>
					<input id="schedule{{ month }}-threshold" type="text" name="schedule{{ month }}-threshold" value="{{ kwds.get("schedule%i-threshold"|format(month)) }}" >
				</div>
				
				<div class="ui-field-contain no-field-separator">
					<label for="schedule{{ month }}-start">Start:</label>
					<input type="time" id="schedule{{ month }}-start" name="schedule{{ month }}-start" value="{{ kwds.get("schedule%i-start"|format(month)) }}" data-role="datebox" data-options='{"useInline": true, "useInlineHideInput": true}'/>
				</div>
				
				<div class="ui-field-contain no-field-separator">
					<label for="schedule{{ month }}-zones-to-skip">List of Zones to Skip:</label>
					<input type="text" id="schedule{{ month }}-zones-to-skip" name="schedule{{ month }}-zones-to-skip" value="{{ kwds.get("schedule%i-zones-to-skip"|format(month)) }}" data-role="datebox" data-options='{"useInline": true, "useInlineHideInput": true}'/>
				</div>
				
			</div>
			{% endfor %}
			
			<div data-role="collapsible" data-collapsed="false">
				<h3 class="ui-title" role="heading" aira-level="1">Schedule Run Limiter</h3>
				
				<div class="ui-field-contain no-field-separator">
					<label for="schedule-limiter">Limit zones/day:</label>
					<select class="enabled" id="schedule-limiter" name="schedule-limiter" data-role="flipswitch">
				    <option value="off">Off</option>
						<option value="on" {{ 'selected' if kwds.get("schedule-limiter") == 'on' else '' }}>On</option>
					</select>
				</div>
				
				<div class="ui-field-contain no-field-separator">
					<label for="schedule-max-zones">Max zones/day:</label>
					<input id="schedule-max-zones" type="text" name="schedule-max-zones" value="{{ kwds.get("schedule-max-zones") }}" >
				</div>
			</div>
			
			<button type="submit">Save Configuration</button>
		</div>
	</form>
	<br />
	<div data-role="footer" role="banner" class="ui-header ui-bar-inherit">
		<div data-role="navbar">
			<ul>
				<li class="sixcol"><a href="/">Home</a></li>
				<li class="sixcol"><a href="/zones">Zones</a></li>
				<li class="sixcol"><a class="ui-btn-active" href="/schedules">Schedules</a></li>
				<li class="sixcol"><a href="/weather">Weather</a></li>
				<li class="sixcol"><a href="/manual">Manual Control</a></li>
				<li class="sixcol"><a href="/logs">Logs</a></li>
			</ul>
		</div>
	</div>
	</div>
</body>
</html>
