<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="/css/themes/Pi2O.css" />
    <link rel="stylesheet" href="/css/themes/jquery.mobile.icons.min.css" />
	<link href="/css/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/jquery.mobile-1.4.5.min.js"></script>
	<style>
	input.invalid, textarea.invalid{
	    border: 2px solid red;
    }
	.ui-hide-label.ui-br, .no-field-separator {
		border-bottom-width: 0;
	}
	.ui-field-contain.ui-hide-label, .no-field-separator {
		margin: 1em 0;
		padding: 0;
	}
	.sixcol {
		/* Based on https://stackoverflow.com/questions/6161377/more-than-5-items-per-line-in-jquery-mobile-navbar */
		width: 16.66% !important;  /* 16.66% for 6 tabs wide */
		clear: none !important;  /* Prevent line break caused by ui-block-a */
	}
	</style>
</head>
<body>
	<div id="weather" data-role="page">
	<script type="text/javascript">
		function onload() {
			// Nothing yet
		}
		
		$(document).on("pagecreate", "#weather", onload);
	</script>
	
	<div data-role="header" role="banner" class="ui-header ui-bar-inherit">
		<h1 class="ui-title" role="heading" aira-level="1">Weather Adjustment</h1>
	</div>
	<form id="form" method="post" action="weather">
		<div data-role="main" class="ui-content">
			<h3 class="ui-title" role="heading" aira-level="1">Weather and ET Settings</h3>
			<h3 class="ui-title" role="heading" aira-level="1">WUnderground Station</h3>
			<div class="ui-field-contain">
				<label for="weather-pws">PWS ID:</label>
				<input type="text" id="weather-pws" name="weather-pws" value="{{ kwds.get("weather-pws") }}"/>
			</div>
			<h3 class="ui-title" role="heading" aira-level="1">Crop Parameters</h3>
			<div class="ui-field-contain">
				<label for="weather-cn">Numerator constant:</label>
				<input type="text" id="weather-cn" name="weather-cn" value="{{ kwds.get("weather-cn") }}"/>
				<label for="weather-cd">Denominator constant:</label>
				<input type="text" id="weather-cd" name="weather-cd" value="{{ kwds.get("weather-cd") }}"/>
			</div>
			<label for="weather-text">Test On Save:</label>
			<input class="test" type="checkbox" name="test-config" data-role="flipswitch"/>
			<button id="submit_form" type="submit">Save Configuration</button>
			<script type="text/javascript">
				$('.test').trigger('create');
			    
			    $('#weather-pws').on('input', function() {
                    var input=$(this);
                    var re = /^[A-Z]+[0-9]+$/;
                    var is_pws=re.test(input.val());
                    if(is_pws){
                        input.removeClass("invalid");
                    } else{ 
                        input.addClass("invalid");
                    }
                });
			    
			    $('#weather-cn').on('input', function() {
                    var input=$(this);
                    var re = /^\+?[0-9]+(\.[0-9]*?)?$/;
                    var is_float=re.test(input.val());
                    if(is_float){
                        input.removeClass("invalid");
                    } else {
                        input.addClass("invalid");
                    }
                });
			    
                $('#weather-cd').on('input', function() {
                    var input=$(this);
                    var re = /^\+?[0-9]+(\.[0-9]*?)?$/;
                    var is_float=re.test(input.val());
                    if(is_float){
                        input.removeClass("invalid");
                    } else {
                        input.addClass("invalid");
                    }
                });
				
				$("#submit_form").click(function(event){
                    var form_data=$("#form").serializeArray();
                    var error_free=true;
                    for (var input in form_data){
                        var element=$("#"+form_data[input]['name']);
                        var invalid=element.hasClass("invalid");
                        if (invalid){
                            error_free=false;
                        }
                    }
                    if (!error_free){
                        event.preventDefault(); 
                        alert('Errors: Form will be *not* be submitted');
                    }
                });
			</script>
		</div>
	</form>
	<br />
	{% if kwds.get("weather-info") %}
	{{ kwds.get("weather-info") }}
	<br />
	{% endif %}
	<div data-role="footer" role="banner" class="ui-header ui-bar-inherit">
		<div data-role="navbar">
			<ul>
				<li class="sixcol"><a href="/">Home</a></li>
				<li class="sixcol"><a href="/zones">Zones</a></li>
				<li class="sixcol"><a href="/schedules">Schedules</a></li>
				<li class="sixcol"><a class="ui-btn-active" href="/weather">Weather</a></li>
				<li class="sixcol"><a href="/manual">Manual Control</a></li>
				<li class="sixcol"><a href="/logs">Logs</a></li>
			</ul>
		</div>
	</div>
	</div>
</body>
</html>
