<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/jquery.mobile-1.4.3.min.css">
	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/jquery.mobile-1.4.3.min.js"></script>
</head>
<body>
	<div data-role="page">
	<div data-role="header" role="banner" class="ui-header ui-bar-inherit">
		<h1 class="ui-title" role="heading" aira-level="1">Zones</h1>
	</div>
	<form method="post" action="zones">
		<div data-role="main" class="ui-content">
			{% for zone in range(1,5) %}
			<h3 class="ui-title" role="heading" aira-level="1">Zone {{ zone }}</h3>
			<div class="ui-field-contain">
				<label for="zone{{ zone }}-name">Name:</label>
				<input class="name{{ zone }}" type="text" name="zone{{ zone }}-name" value="{{ kwds.get("zone%i-name"|format(zone)) }}"/>
				<label for="zone{{ zone }}-pin">GPIO Pin:</label>
				<select class="pin{{ zone }}" id="pin{{ zone }}" name="zone{{ zone }}-pin">
					<option value="18" {{ 'selected' if kwds.get("zone%i-pin"|format(zone)) == '18' else '' }}>18</option>
					<option value="23" {{ 'selected' if kwds.get("zone%i-pin"|format(zone)) == '23' else '' }}>23</option>
					<option value="24" {{ 'selected' if kwds.get("zone%i-pin"|format(zone)) == '24' else '' }}>24</option>
					<option value="25" {{ 'selected' if kwds.get("zone%i-pin"|format(zone)) == '25' else '' }}>25</option>
				</select>
				<label for="zone{{ zone }}-enabled">Enabled:</label>
				<select class="enabled{{ zone }}" name="zone{{ zone }}-enabled" data-role="slider">
					<option value="off">Off</option>
					<option value="on" {{ kwds.get("zone%i-enabled"|format(zone)) }}>On</option>
				</select> 
			</div>
			{% endfor %}
			
			<script type="text/javascript">
				$(window).load( function() {
				{% for zone in range(1,5) %}
				$('#pin{{ zone }}').selectmenu('refresh', true);
				
				{% if kwds.get("zone%i-enabled"|format(zone)) != 'selected' %}
				$('.name{{ zone }}').textinput('disable');
				$('#pin{{ zone }}').selectmenu('disable');
				{% endif %}
			
				$('.enabled{{ zone }}').trigger('create');
				$('.enabled{{ zone }}').bind('slidestop', function (e) {
					if (this.value == 'on') {
						$('.name{{ zone }}').textinput('enable');
						$('#pin{{ zone }}').selectmenu('enable');
					} else {
						$('.name{{ zone }}').textinput('disable');
						$('#pin{{ zone }}').selectmenu('disable');
					}
				});
				{% endfor %}
				});
			</script>
			
			<button type="submit">Save Configuration</button>
		</div>
	</form>
	<br />
	<div data-role="footer" role="banner" class="ui-header ui-bar-inherit">		
		<a href="/">Home</a> &nbsp;|&nbsp;
		<a href="/schedules">Schedules</a> &nbsp;|&nbsp;
		<a href="/weather">Weather</a> &nbsp;|&nbsp;
		<a href="/manual">Manual Control</a> &nbsp;|&nbsp;
		<a href="/logs">Logs</a>
	</div>
	</div>
</body>
</html>