<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="/css/themes/Pi2O.css" />
    <link rel="stylesheet" href="/css/themes/jquery.mobile.icons.min.css" />
	<link href="/css/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/jquery.mobile-1.4.5.min.js"></script>
	<style>
	.ui-hide-label.ui-br, .no-field-separator {
		border-bottom-width: 0;
	}
	.ui-field-contain.ui-hide-label, .no-field-separator {
		margin: 1em 0;
		padding: 0;
	}
	.sixcol {
		/* Based on https://stackoverflow.com/questions/6161377/more-than-5-items-per-line-in-jquery-mobile-navbar */
		width: 16.66% !important;  /* 16.66% for 6 tabs wide */
		clear: none !important;  /* Prevent line break caused by ui-block-a */
	}
	</style>
</head>
<body>
	<div id="zones" data-role="page">
	<script type="text/javascript">
		function onload() {
			// Nothing yet
		}
		
		$(document).on("pagecreate", "#zones", onload);
	</script>
	
	<div data-role="header" role="banner" class="ui-header ui-bar-inherit">
		<h1 class="ui-title" role="heading" aira-level="1">Zones</h1>
	</div>
	<form method="post" action="zones">
		<div data-role="main" class="ui-content">
			{% for zone in range(1, 33) %}
			{% if not kwds.get("zone%i-enabled"|format(zone)) %}
			{% break %}
			{% endif %}
			<div data-role="collapsible">
				<h3 class="ui-title" role="heading" aira-level="1">Zone {{ zone }}</h3>
				<div class="ui-field-contain">
					<label for="zone{{ zone }}-name">Name:</label>
					<input class="name{{ zone }}" type="text" name="zone{{ zone }}-name" value="{{ kwds.get("zone%i-name"|format(zone)) }}"/>
					<label for="zone{{ zone }}-pin">GPIO Pin:</label>
					<select class="pin{{ zone }}" id="pin{{ zone }}" name="zone{{ zone }}-pin">
						<option value="17" {{ 'selected' if kwds.get("zone%i-pin"|format(zone)) == '17' else '' }}>17</option>
						<option value="18" {{ 'selected' if kwds.get("zone%i-pin"|format(zone)) == '18' else '' }}>18</option>
						<option value="23" {{ 'selected' if kwds.get("zone%i-pin"|format(zone)) == '23' else '' }}>23</option>
						<option value="24" {{ 'selected' if kwds.get("zone%i-pin"|format(zone)) == '24' else '' }}>24</option>
						<option value="25" {{ 'selected' if kwds.get("zone%i-pin"|format(zone)) == '25' else '' }}>25</option>
					</select>
					<label for="zone{{ zone }}-enabled">Enabled:</label>
					<select class="enabled{{ zone }}" name="zone{{ zone }}-enabled" data-role="slider">
						<option value="off">Off</option>
						<option value="on" {{ 'selected' if kwds.get("zone%i-enabled"|format(zone)) == 'on' else '' }}>On</option>
					</select> 
				</div>
			</div>
			{% endfor %}
			
			<div data-role="collapsible">
				<h3 class="ui-title" role="heading" aira-level="1">Rain Sensor</h3>
				<div class="ui-field-contain">
					<fieldset data-role="controlgroup" data-type="horizontal">
						<legend>Type:</legend>
						<input class="rtype" type="radio" name="rainsensor-type" id="rainsensor-choice-1" value="off" {{ 'checked' if kwds.get('rainsensor-type') == 'off' else '' }}>
						<label for="rainsensor-choice-1">Not Installed</label>
						<input class="rtype" type="radio" name="rainsensor-type" id="rainsensor-choice-2" value="software" {{ 'checked' if kwds.get('rainsensor-type') == 'software' else '' }}>
						<label for="rainsensor-choice-2">Software</label>
						<input class="rtype" type="radio" name="rainsensor-type" id="rainsensor-choice-3" value="hardware" {{ 'checked' if kwds.get('rainsensor-type') == 'hardware' else '' }}>
						<label for="rainsensor-choice-3">Hardware</label>
					</fieldset>
					<label for="rainsensor-pin">GPIO Pin:</label>
					<select class="pinr" id="pinr" name="rainsensor-pin">
						<option value="17" {{ 'selected' if kwds.get("rainsensor-pin") == '17' else '' }}>17</option>
						<option value="18" {{ 'selected' if kwds.get("rainsensor-pin") == '18' else '' }}>18</option>
						<option value="23" {{ 'selected' if kwds.get("rainsensor-pin") == '23' else '' }}>23</option>
						<option value="24" {{ 'selected' if kwds.get("rainsensor-pin") == '24' else '' }}>24</option>
						<option value="25" {{ 'selected' if kwds.get("rainsensor-pin") == '25' else '' }}>25</option>
					</select>
					<label for="rainsensor-precip">Rainfall:</label>
					<input class="precip" type="range" name="rainsensor-precip" value="{{ kwds.get("rainsensor-precip") }}" min="0.04" max="0.52" step="0.04" data-highlight="true"/>
				</div>
			</div>
			
			<script type="text/javascript">
				$(window).load( function() {
				{% for zone in range(1, 33) %}
				{% if not kwds.get("zone%i-enabled"|format(zone)) %}
				{% break %}
				{% endif %}
				$('#pin{{ zone }}').selectmenu('refresh', true);
				
				{% if kwds.get("zone%i-enabled"|format(zone)) != 'on' %}
				$('.name{{ zone }}').textinput('disable');
				$('#pin{{ zone }}').selectmenu('disable');
				{% endif %}
			
				$('.enabled{{ zone }}').trigger('create');
				$('.enabled{{ zone }}').bind('slidestop', function (e) {
					if (this.value == 'on') {
						$('.name{{ zone }}').textinput('enable');
						$('#pin{{ zone }}').selectmenu('enable');
					} else {
						$('.name{{ zone }}').textinput('disable');
						$('#pin{{ zone }}').selectmenu('disable');
					}
				});
				{% endfor %}
				$('#pinr').selectmenu('refresh', true);
				
				{% if kwds.get('rainsensor-type') == 'off' %}
				$('.precip').slider('disable');
				$('#pinr').selectmenu('disable');
				{% endif %}
				{% if kwds.get('rainsensor-type') == 'software' %}
				$('.precip').slider('enable');
				$('#pinr').selectmenu('disable');
				{% endif %}
				{% if kwds.get('rainsensor-type') == 'hardware' %}
				$('.precip').slider('disable');
				$('#pinr').selectmenu('enable');
				{% endif %}
				
				$('.rtype').trigger('create');
				$('.rtype').on('click', function(e) {
					if (this.value == 'off') {
						$('.precip').slider('disable');
						$('#pinr').selectmenu('disable');
					} else {
						if (this.value == 'software') {
							$('.precip').slider('enable');
							$('#pinr').selectmenu('disable');
						} else {
							$('.precip').slider('disable');
							$('#pinr').selectmenu('enable');
						}
					}
				});
			});
			</script>
			
			<button type="submit">Save Configuration</button>
		</div>
	</form>
	<br />
	<div data-role="footer" role="banner" class="ui-header ui-bar-inherit">
		<div data-role="navbar">
			<ul>
				<li class="sixcol"><a href="/">Home</a></li>
				<li class="sixcol"><a class="ui-btn-active" href="/zones">Zones</a></li>
				<li class="sixcol"><a href="/schedules">Schedules</a></li>
				<li class="sixcol"><a href="/weather">Weather</a></li>
				<li class="sixcol"><a href="/manual">Manual Control</a></li>
				<li class="sixcol"><a href="/logs">Logs</a></li>
			</ul>
		</div>
	</div>
	</div>
</body>
</html>
